{% load static %}
<!DOCTYPE html>
    <html>
    <head>
                <!--
        * Autor: Suelytohm Oliveira - Charles Tenório - KATANA SOFTWARE
        * Cliente: Leucio Lemos - Advogados & Associados
         -->

      <meta charset="UTF-8">
      <title>Leucio Lemos - Advogados & Associados</title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="{% static 'assets/images/ico2.png'%}" type="image/x-icon">
      <meta name="description" content="Um escritório com experiência em serviços jurídicos, formado por uma equipe multidisciplinar.">
      <meta name="keywords" content="advogados,escritório de advocacia,recife,escritório de advocacia em recife,advogados em recife,advogados associados,leucio lemos,leucio lemos advogados,leucio de lemos filho,christina lemos turza ferreira,bruna lemos turza ferreira,mauro cesar loureiro pastick,direito público,direito privado,direito administrativo,direito tributário,direito ambiental,direito eleitoral,direito regulatório,direito portuário,assessoria jurídica,mppe,mpf,stj,stf,justiça estadual de pernambuco,katana software,suelytohm oliveira,charles tenório,poço da panela,banca do poço, estrada real do poço">
      <meta name="author" content="Suelytohm Oliveira - Charles Tenório - KATANA SOFTWARE">
      <meta name="application-name" content="Leucio Lemos - Advogados & Associados">
      <link rel="stylesheet" href="{% static 'assets/bootstrap-material-design-font/css/material.css'%}">
      <link rel="stylesheet" href="{% static 'assets/et-line-font-plugin/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/tether/tether.min.css'%}">
      <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
      <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}">
      <link rel="stylesheet" href="{% static 'assets/animatecss/animate.min.css'%}">
      <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css'%}">
      <link rel="stylesheet" href="{% static 'assets/theme/css/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/mobirise-gallery/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css'%}" type="text/css">
      <style>#c {color: #ffffff; font-family: Adobe_Caslon_Light;}</style>


    </head>
    <body>
    <section id="menu-0">

        <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
            <div class="container">

                <div class="mbr-table">
                    <div class="mbr-table-cell">

                        <div class="navbar-brand">
                            <a href="#header1-7" class="navbar-logo"><img src="{% static 'assets/images/brand3-508x1282.png' %}" alt="Mobirise"></a>
                        </div>

                    </div>
                    <div class="mbr-table-cell">

                        <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="hamburger-icon"></div>
                        </button>

                        <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
                          <li class="nav-item"><a class="nav-link link" href="#header1-7">HOME</a></li>
                          <li class="nav-item"><a class="nav-link link" href="#quem-somos">O ESCRITÓRIO</a></li>
                          <li class="nav-item"><a class="nav-link link" href="#areas">ATUAÇÃO</a></li>
                          <li class="nav-item"><a class="nav-link link" href="#equipe">SÓCIOS</a></li>
                          <li class="nav-item"><a class="nav-link link" href="#blog">BLOG</a></li>
                          <li class="nav-item"><a class="nav-link link" href="#contato">CONTATO</a></li>
                        </ul>
                        <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                            <div class="close-icon"></div>
                        </button>

                    </div>
                </div>

            </div>
        </nav>

    </section>

        <!--

    <section class="mbr-section mbr-section-hero mbr-section-full header2 mbr-after-navbar" id="header2-b" data-bg-video="https://www.youtube.com/embed/jlzOHYg5T28?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0">

        <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);">
        </div>

        <div class="mbr-table mbr-table-full">
            <div class="mbr-table-cell">

                <div class="container">
                    <div class="mbr-section row">
                        <div class="mbr-table-md-up">

                            <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 52%;">
                                <div class="mbr-figure"><img src="assets/images/logo5-1400x877.png"></div>
                            </div>
                            <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                                <h3 class="mbr-section-title display-2">Um escritório com experiência em serviços jurídicos, formado por uma equipe multidisciplinar.<br><br></h3>

                                <div class="mbr-section-text">

                                </div>

                                <div class="mbr-section-btn"><a class="btn btn-primary" href="#msg-box5-4">SAIBA MAIS</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true"><a href="#msg-box5-4"><i class="mbr-arrow-icon"></i></a></div>

    </section>


        -->

    <section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background" id="header1-7" style="background-image: url({% static 'assets/images/4-2000x1333.jpg'%});">

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

        <div class="mbr-table mbr-table-full">
            <div class="mbr-table-cell">

                <div class="container">
                    <div class="mbr-section row">
                        <div class="mbr-table-md-up">

                            <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 52%;">
                                <div class="mbr-figure"><img src="{% static 'assets/images/logoaz42.png'%}"></div>
                            </div>
                            <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                                <h3 class="mbr-section-title display-2">Um escritório com experiência em serviços jurídicos, formado por uma equipe multidisciplinar.<br><br></h3>

                                <div class="mbr-section-text">

                                </div>

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="mbr-section mbr-section__container article" id="quem-somos" id="teste" style="background-color: rgb(255, 255, 255); padding-top: 80px;  padding-bottom: 50px; ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">O Escritório</h3>
                </div>
            </div>
        </div>
    </section>



    <section class="mbr-section article mbr-section__container" id="content1-3" style="background-color: rgb(255, 255, 255); padding-top: 1px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 lead">
                    <p style="text-align: justify;">
                        LEUCIO LEMOS ADVOGADOS & ASSOCIADOS é um escritório de advocacia pautado por valores éticos e de responsabilidade social, com sólida atuação no mercado pernambucano e toda a região Nordeste. São mais de 30 anos de atuação na área, com advogados especializados em Direito Público e Privado, com ênfase no Direito Administrativo, Eleitoral, Tributário, Regulatório e Portuário, Ambiental e Cível. No portfólio de atuação, assessoria contenciosa e consultiva/preventiva a pessoas físicas e empresas ou instituições de Direito Público e Privado. O escritório tem sede própria, localizada em imóvel tombado, no coração do histórico bairro do Poço da Panela.
                    </p>
                    <br/>
                </div>
            </div>    
           
    <!--    
        </div>
    </section>

    <section class="mbr-section" id="msg-box5-4" style="background-color: rgb(255, 255, 255); padding-top: 0px;">
        <div class="container"> -->
          
                <div class="col-md-6">
                    <div class="rounded float-right image-size" style="width: 200%; height:70%">
                        <div class="mbr-figure"><img src="{% static 'assets/images/Foto.jpg'%}" ></div>
                    </div>
                </div>
            </div>
        </div>

            <!--
            <div class="row">
                <div class="col-xs-12 lead">
                    <p>
                        O escritório tem defendido, com êxito, expressivo número de questões de interesse de empresas e entidades.<br><br>
                        Com sede própria, localizada em imóvel tombado, no coração do Poço da Panela – Casa Forte, com área útil de: 668,11 m², contando com 14 (quatorze) salas equipadas para proporcionar ambiente adequado aos serviços e soluções para clientes e parceiros.  
                    </p>
                    <br/>
                </div>
            </div>   -->
    </section>


    <section class="mbr-section mbr-section__container article" id="areas" id="teste" style="background-color: rgb(255, 255, 255); padding-top: 80px;  padding-bottom: 50px; ">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">Atuação</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article mbr-section__container" id="content1-3" style="background-color: rgb(255, 255, 255); padding-top: 1px;">
        <div class="container">
            <div class="row">
                
                    <div class="row">
                        <div class="col-xs-12 lead">
                            <p style="text-align: justify; ">
                                
                                &nbsp;&nbsp;&nbsp;&nbsp;A sociedade tem advogados, sócios e associados, capacitados para atuar no consultivo e contencioso judicial perante todas as Instâncias da Justiça Estadual e Federal. O trabalho de consultoria consiste em apoio jurídico para a melhor interpretação e aplicação de normas jurídicas e emissão de parecer ou nota técnica em questões controversas. Os serviços compreendem desde atendimento no escritório, participação em reuniões, convenções ou similares, na qualidade de consultor, acompanhamento processual com apresentação de relatórios periódicos sobre atividades desenvolvidas na execução dos trabalhos ou sobre questões específicas. Também, no patrocínio em demandas perante órgãos, conselhos ou tribunais Administrativos, tais como TATE, TCE/PE, TCU, Receita Federal do Brasil e Tribunal Marítimo. Atua igualmente em procedimentos no MPPE e MPF.
                            </p>
                            <br/>
                       </div>
                     
                    
                    <div class="row">
                        <div class="col-xs-12 lead">
                            <p>
                               
                            </p>
                            <br/>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>


    <section class="mbr-section mbr-section__container article" id="equipe" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">Sócios</h3>
                </div>
            </div>
        </div>
    </section>



    <!-- -->

   <section class="mbr-gallery mbr-section mbr-section-nopadding mbr-slider-carousel" id="gallery3-e" data-filter="false" style="background-color: rgb(255, 255, 255); padding-top: 0rem; padding-bottom: 0rem;">

        <!-- Gallery -->
            <div class="mbr-gallery-row">
                <div class=" mbr-gallery-layout-default">
                    <div>
                        <div>
                            <div class="mbr-gallery-item mbr-gallery-item__mobirise4 mbr-gallery-item--p1" data-tags="Awesome" data-video-url="false">
                                <div href="#" data-slide-to="0" data-toggle="modal">
                                    <img alt="" src="{% static 'assets/images/2.jpg'%}">
                                    <span class="icon-focus"></span>

                                </div>

                                 <br>
                                 <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLongLeucio">
                                       &nbsp;&nbsp;&nbsp; Leucio Lemos Filho &nbsp;&nbsp;&nbsp;
                                </button>

                                <!-- Modal -->
<div class="modal fade" id="exampleModalLongLeucio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <img src="{% static 'assets/images/2.jpg'%}" alt="..." class="rounded-circle">
        <h5 class="modal-title " id="exampleModalLongTitle">Leucio Lemos Filho</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify; color: #030414">
        &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procurador do Município do Recife, ex-professor universitário, pós-graduado <br>em Direito Processual Civil pelo Instituto Presbiteriano Mackenzie, com experiência <br>nas áreas do Direito Administrativo, Eleitoral, Tributário, Cível, Regulatório e Portuário.<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>
                           </div>
                                <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Beautiful" data-video-url="false">
                                    <div href="#" data-slide-to="1" data-toggle="modal">
                                        <img alt="" src="{% static 'assets/images/1.jpg'%}">
                                        <span class="icon-focus"></span>

                                    </div>

                                    <br>
                                 <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLongCristiana">
                                     Crhistiana Lemos Turza Ferreira
                                </button>

                                                                <!-- Modal -->
<div class="modal fade" id="exampleModalLongCristiana" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{% static 'assets/images/1.jpg'%}" alt="..." class="rounded-circle">
        <h5 class="modal-title" id="exampleModalLongTitleCris">Crhistiana Lemos Turza Ferreira</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify; color: #030414">
        &nbsp; &nbsp;Pós-graduada em Direito do Trabalho e Processo do Trabalho pela Uninassau/Renato Saraiva, com atuação nas áreas de Direito Administrativo, Eleitoral, Regulatório, Cível e Ambiental. <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>
  <!-- modal fim -->

                                </div>
                                <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Responsive" data-video-url="false">
                                    <div href="#" data-slide-to="2" data-toggle="modal">
                                        <img alt="" src="{% static 'assets/images/3.jpg'%}">
                                        <span class="icon-focus"></span>

                                    </div>
                                   <br>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLongBruna">
                                     Bruna Lemos Turza Ferreira
                                </button>
                                                                          <!-- Modal -->
<div class="modal fade" id="exampleModalLongBruna" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{% static 'assets/images/3.jpg'%}" alt="..." class="rounded-circle">
        <h5 class="modal-title" id="exampleModalLongTitleBruna">Bruna Lemos Turza Ferreira</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify; color: #030414">
        &nbsp;&nbsp;&nbsp;&nbsp;Pós-graduada em Direito Tributário pelo Instituto Brasileiro de Estudos Tributários &nbsp;&nbsp;– IBET e em Direito Eleitoral pela Escola Superior de Advocacia de Pernambuco &nbsp;&nbsp;– ESA/PE e escola Judiciária Eleitoral de Pernambuco – EJE/PE, com atuação nas áreas de Direito Administrativo, Eleitoral, Regulatório, Cível e Ambiental. <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>
  <!-- modal fim -->
                                </div>
                                <div class="mbr-gallery-item mbr-gallery-item__mobirise3 mbr-gallery-item--p1" data-tags="Animated" data-video-url="false">
                                    <div href="#" data-slide-to="3" data-toggle="modal">
                                        <img alt="" src="{% static 'assets/images/4.jpg'%}">
                                        <span class="icon-focus"></span>

                                    </div>

                                    <br>
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLongMauro">
                                     Mauro Cesar Loureiro Psstick
                                </button>

                                                      <!-- Modal -->
<div class="modal fade" id="exampleModalLongMauro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{% static 'assets/images/4.jpg'%}" alt="..." class="rounded-circle">
          <h5 class="modal-title" id="exampleModalLongTitleMauro">Mauro Cesar Loureiro Psstick</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: justify; color: #030414">
        &nbsp;&nbsp;&nbsp;Pós-graduado em Direito Administrativo pela Faculdade de Direito do Recife – FDR/UFPE e Bacharel em Relações Internacionais, com atuação nas áreas do Direito Administrativo, Eleitoral, Cível, Portuário e Internacional. <br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

      </div>
    </div>
  </div>
</div>
  <!-- modal fim -->


                                </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        <!-- Lightbox -->

    </section>


   







    <section class="mbr-section mbr-section__container article" id="blog" style="background-color: rgb(255, 255, 255); padding-top: 90px; padding-bottom: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">Blog</h3>

                </div>
            </div>
        </div>
    </section>

    <section class="mbr-section article mbr-section__container" id="content7-6" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 80px;">






        <div class="container">
            <div class="row" > <!-- Cada linha = 4 postagens e o <br> -->
               {% for blogs in blog %}
                <div class="col-xs-12 col-md-3 lead"><p> <a href="#">{{ blogs.descricao }}</a></p></div>

               {% endfor %}
            </div>
            <br>
        </div>

    </section>
    <section class="mbr-section mbr-section__container article" id="contato" style="background-color: rgb(255, 255, 255); padding-top: 90px; padding-bottom: 1px;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="mbr-section-title display-2">FALE CONOSCO</h3>

                </div>
            </div>
        </div>
    </section>


    <section class="mbr-section" id="form1-8" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
          <div class="mbr-section mbr-section-nopadding">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">
                          <form action = "{% url 'enviar_email' %}" method="post" data-form-title="CONTATO">

                              <div class="row row-sm-offset">
                                  <div class="col-xs-12 col-md-6">
                                      <div class="form-group">
                                          <label class="form-control-label" for="form1-d-name">Nome<span class="form-asterisk">*</span></label>
                                          <input type="text" class="form-control" name="nome" required data-form-field="Name" id="form1-d-name">
                                      </div>
                                  </div>

                               <div class="row row-sm-offset">
                                  <div class="col-xs-12 col-md-6">
                                      <div class="form-group">
                                          <label class="form-control-label" for="form1-d-name">Telefone</span></label>
                                          <input type="text" class="form-control" name="telefone" required data-form-field="Name" id="form1-d-fone">
                                      </div>
                                  </div>

                                  <div class="col-xs-12 col-md-6">
                                      <div class="form-group">

                                          <label class="form-control-label" for="form1-d-email">E-mail<span class="form-asterisk">*</span></label>
                                          <input type="email" class="form-control" name="email" required data-form-field="Email" id="form1-d-email">
                                      </div>
                                  </div>
                              </div>

                             <div class="col-xs-12 col-md-6">
                              <div class="form-group">
                                 <label class="form-control-label" for="form1-d-name">Mensagem<span class="form-asterisk">*</span></label>

                                  <textarea class="form-control"  required="required" name="mensagem"  rows="7" data-form-field="Message" id="form1-d-message"></textarea>
                              </div> 
                             
                             
                              <div><button type="submit" class="btn btn-info"><span class="socicon socicon-mail mbr-iconfont mbr-iconfont-btn"></span>ENVIAR</button></div>

                          </div>
                          
                          </div>
                                                    </form>
                      </div>
                  </div>
              </div>
          </div>
    </section>

    <section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-g" style="background-color: #00558f; padding-top: 90px; padding-bottom: 90px;">
        <div class="container">
            <div class="row">
                <div class="mbr-footer-content col-xs-12 col-md-5">
                    <div><a href="#header1-7"><img src="{% static 'assets/images/logoaz42.png'%}" style="width: 90%;"></a></div>
                </div>
                
                <div class="mbr-footer-content col-xs-12 col-md-4">
                    <p><strong id="c"></strong><br>
                        Banca do Poço Estrada Real do Poço, 569 </p>
                        <p>Poço da Panela Recife-PE CEP: 52061200</p>
                    <p> PABX: (81) 3081.7170</p>
                    <p>Fax: (81) 3081.7171</p>
                    <p>E-mail: advpoco@terra.com.br</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-i" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><p class="text-xs-left">Desenvolvido por: <a id="link" href="">Katana Software</a>.</p></div>
                <div class="col-md-4"><p class="text-xs-center">&copy Leucio Lemos - Todos os Direitos Reservados.</p></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </footer>

      <script src="{% static 'assets/web/assets/jquery/jquery.min.js'%}"></script>
      <script src="{% static 'assets/tether/tether.min.js'%}"></script>
      <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
      <script src="{% static 'assets/smooth-scroll/smooth-scroll.js'%}"></script>
      <script src="{% static 'assets/dropdown/js/script.min.js'%}"></script>
      <script src="{% static 'assets/touch-swipe/jquery.touch-swipe.min.js'%}"></script>
      <script src="{% static 'assets/viewport-checker/jquery.viewportchecker.js'%}"></script>
      <script src="{% static 'assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js'%}"></script>
      <script src="{% static 'assets/masonry/masonry.pkgd.min.js'%}"></script>
      <script src="{% static 'assets/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
      <script src="{% static 'assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js'%}"></script>
      <script src="{% static 'assets/jarallax/jarallax.js'%}"></script>
      <script src="{% static 'assets/theme/js/script.js"'%}></script>
      <script src="{% static 'assets/mobirise-gallery/player.min.js"'%}></script>



      <script src="{% static 'assets/mobirise-gallery/script.js'%}"></script>
      <script src="{% static 'assets/formoid/formoid.min.js'%}"></script>

      <input name="animation" type="hidden">
       <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon"></i></a></div>
      </body>
    </html>
